:root {
  --fon-accent: #0eba11;
  --color-accent: #eadb10;
  --white-color: #f6f5f5;
  --gradient-color: linear-gradient(
    32deg,
    rgba(246, 243, 26, 1) 14%,
    rgba(246, 243, 26, 1) 39%,
    rgba(57, 118, 246, 1) 61%
  );
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  background-color: var(--white-color);
}

img {
  display: block;
}
